@import (reference) "../../../../../less/variables";

header-user-info {
  display: block;
  background-color: @secondary;
  padding: 5px 0;

  .content {
    display: flex;
    justify-content: flex-end;

    a {
      &:hover,
      &:focus,
      &:active {
        color: @header-foreground;
      }
    }

    .home.icon,
    .user.icon {
      margin-right: 20px;
    }

  }
}
